.header {
  display: flex;
  width: 100%;
  margin: auto;
  margin-bottom: 3px;
  flex-wrap: wrap;
  height: 100px; }

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  max-height: 450px;
  max-width: 450px; }

#btn_search {
  max-height: 20px;
  width: auto; }

#caja_texto {
  max-height: 30px;
  width: auto; }

.news-item {
  max-width: 400px;
  margin: 16px;
  border-radius: 5px;
  padding: 25px; }

@media only screen and (max-width: 400px) {
  .grid {
    flex-direction: column; } }

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-evenly; }

html, body {
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: lightslategray; }
