<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users File</title>
</head>
<body>
    <h1>Users register endpoint</h1>
    <form class="searcher" action="/users" method="POST" enctype="multipart/form-data">
        <input name="name" id="name__input" class="name__input" type="text">Name<br>
        <input name="email" id="email__input" class="email__input" type="text">Email<br>
        <input name="profilePic" id="profilePic__input" class="profilePic__input" type="file"> Profile Pic<br>
        <input name="password" id="password__input" class="password__input" type="password"> password<br>
        <button id="signUp__button" class="signUp__button">Sign Up</button>
    </form>
</body>
</html>